# Modelos de ML

**Objetivo**: Criar modelos de ML para a projeção de todas as nossas séries.

**Metodologias**: 

- Regressão Linear
- Árvore de decisão
- Random Forest
- XGBoost
- LightGBM

## 0. Setup

In [1]:
%load_ext autotime

time: 181 µs (started: 2024-01-04 16:25:58 -03:00)

In [2]:
#---- Manipulação de dados:

import pandas as pd
import numpy as np

#---- Modelagem:

from hierarchicalforecast.utils import aggregate
from mlforecast import MLForecast
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from lightgbm import LGBMRegressor
from xgboost import XGBRegressor

#---- Reconciliação

from hierarchicalforecast.methods import BottomUp, TopDown, ERM, OptimalCombination, MinTrace, MiddleOut
from hierarchicalforecast.core import HierarchicalReconciliation

#---- Visualização

import plotly.express as px

time: 1.25 s (started: 2024-01-04 16:25:58 -03:00)

## 1. Dados: vendas de roupas no varejo

In [3]:
dados = pd.read_csv('https://raw.githubusercontent.com/aws-samples/amazon-sagemaker-hierarchical-forecasting/main/retail-usa-clothing.csv')

dados.head()

         date    state           item  quantity       region country
0  1997-11-25  NewYork  mens_clothing         8  Mid-Alantic     USA
1  1997-11-26  NewYork  mens_clothing         9  Mid-Alantic     USA
2  1997-11-27  NewYork  mens_clothing        11  Mid-Alantic     USA
3  1997-11-28  NewYork  mens_clothing        11  Mid-Alantic     USA
4  1997-11-29  NewYork  mens_clothing        10  Mid-Alantic     USA

time: 1.15 s (started: 2024-01-04 16:26:00 -03:00)

In [4]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388024 entries, 0 to 388023
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   date      388024 non-null  object
 1   state     388024 non-null  object
 2   item      388024 non-null  object
 3   quantity  388024 non-null  int64
 4   region    388024 non-null  object
 5   country   388024 non-null  object
dtypes: int64(1), object(5)
memory usage: 17.8+ MB
time: 61.1 ms (started: 2024-01-04 16:26:01 -03:00)

## 2. Modificação nos dados

In [5]:
def clean_data_baseline(df: pd.DataFrame):

    #---- 1. Excluindo a variável de country:

    df = df\
        .drop(columns = 'country')

    #---- 2. Mudando o tipo da variável de date para datetime:

    df['date'] = pd.to_datetime(df['date'])

    #---- 3. Renomeando as variáveis de quantidade de vendas e data:
    # date -> ds
    # quantity -> y

    df = df\
        .rename(columns = {'date': 'ds', 
                           'quantity': 'y'})

    return df

time: 689 µs (started: 2024-01-04 16:26:01 -03:00)

In [6]:
df = clean_data_baseline(df = dados)

df.head()

          ds    state           item   y       region
0 1997-11-25  NewYork  mens_clothing   8  Mid-Alantic
1 1997-11-26  NewYork  mens_clothing   9  Mid-Alantic
2 1997-11-27  NewYork  mens_clothing  11  Mid-Alantic
3 1997-11-28  NewYork  mens_clothing  11  Mid-Alantic
4 1997-11-29  NewYork  mens_clothing  10  Mid-Alantic

time: 108 ms (started: 2024-01-04 16:26:01 -03:00)

In [7]:
def format_hierarchical_df(df: pd.DataFrame, cols_hierarchical: list):

    #---- 1. Cria uma lista de listas: [[col1], [col1, col2], ..., [col1, col2, coln]]

    hier_list = [cols_hierarchical[:i] for i in range(1, len(cols_hierarchical) + 1)]

    #---- 2. Aplica a função aggregate que formata os dados em que a lib hierarchical pede

    Y_df, S_df, tags = aggregate(df = df, spec = hier_list)

    return Y_df, S_df, tags

time: 598 µs (started: 2024-01-04 16:26:01 -03:00)

In [8]:
cols_hierarchical = ['region', 'state', 'item']

Y_df, S_df, tags = format_hierarchical_df(df = df, cols_hierarchical = cols_hierarchical)

time: 547 ms (started: 2024-01-04 16:26:01 -03:00)

In [9]:
display(Y_df.head())
display(Y_df.tail())

                         ds    y
unique_id
EastNorthCentral 1997-11-25  507
EastNorthCentral 1997-11-26  504
EastNorthCentral 1997-11-27  510
EastNorthCentral 1997-11-28  507
EastNorthCentral 1997-11-29  513

                                            ds   y
unique_id
SouthCentral/Tennessee/womens_shoes 2009-07-24  31
SouthCentral/Tennessee/womens_shoes 2009-07-25  30
SouthCentral/Tennessee/womens_shoes 2009-07-26  31
SouthCentral/Tennessee/womens_shoes 2009-07-27  29
SouthCentral/Tennessee/womens_shoes 2009-07-28  30

time: 8.52 ms (started: 2024-01-04 16:26:01 -03:00)

- **Dados de treino: 25/11/1997 a 31/12/2008**
- **Dados de validação: 01/01/2009 a 28/07/2009**

In [10]:
def split_train_test(df: pd.DataFrame, dt_start_train: str):

    #---- 1. Dados de treino

    train = df.query(f'ds < "{dt_start_train}"')

    #---- 2. Dados de teste:
    
    valid = df.query(f'ds >= "{dt_start_train}"')

    return train, valid

time: 1.9 ms (started: 2024-01-04 16:26:02 -03:00)

In [11]:
Y_train_df, Y_valid_df = split_train_test(df = Y_df, dt_start_train = '2009-01-01')

time: 78.9 ms (started: 2024-01-04 16:26:02 -03:00)

In [12]:
display(Y_train_df.head())
display(Y_train_df.tail())

                         ds    y
unique_id
EastNorthCentral 1997-11-25  507
EastNorthCentral 1997-11-26  504
EastNorthCentral 1997-11-27  510
EastNorthCentral 1997-11-28  507
EastNorthCentral 1997-11-29  513

                                            ds   y
unique_id
SouthCentral/Tennessee/womens_shoes 2008-12-27  31
SouthCentral/Tennessee/womens_shoes 2008-12-28  29
SouthCentral/Tennessee/womens_shoes 2008-12-29  28
SouthCentral/Tennessee/womens_shoes 2008-12-30  31
SouthCentral/Tennessee/womens_shoes 2008-12-31  31

time: 10.3 ms (started: 2024-01-04 16:26:02 -03:00)

## 3. Modelagem

In [13]:
#---- Features de data:

from numba import njit
from window_ops.expanding import expanding_mean
from window_ops.rolling import rolling_mean

@njit
def rolling_mean_7(x):
    return rolling_mean(x, window_size = 7)

@njit
def rolling_mean_14(x):
    return rolling_mean(x, window_size = 14)

@njit
def rolling_mean_21(x):
    return rolling_mean(x, window_size = 21)

@njit
def rolling_mean_28(x):
    return rolling_mean(x, window_size = 28)

time: 129 ms (started: 2024-01-04 16:26:02 -03:00)

In [14]:
def rmse(y_true, y_pred):
    
    return np.sqrt(np.mean(np.square(y_true - y_pred)))

time: 591 µs (started: 2024-01-04 16:26:02 -03:00)

In [15]:
n_horizon = Y_valid_df.ds.nunique() # Quantidade de dias para a projeção

time: 6.17 ms (started: 2024-01-04 16:26:02 -03:00)

In [16]:
import optuna
from sklearn.metrics import mean_squared_error

def objective(trial):

    max_depth = trial.suggest_int('max_depth', 3, 15)
    min_samples_split = trial.suggest_float('min_samples_split', 0.1, 1.0)
    min_samples_leaf = trial.suggest_float('min_samples_leaf', 0.1, 0.5)
    max_features = trial.suggest_float('max_features', 0.1, 1.0)

    dec_tree = DecisionTreeRegressor(random_state = 19, 
                                     max_depth = max_depth,
                                     min_samples_split = min_samples_split,
                                     min_samples_leaf = min_samples_leaf,
                                     max_features = max_features) 
    
    models_list = [dec_tree]

    model = MLForecast(models = models_list,
                       freq = 'D',
                       num_threads = 6,
                       lags = [1, 7, 14, 21, 28, 30], 
                       date_features = ['dayofweek', 'month', 'year', 'quarter', 'day', 'week'],
                       lag_transforms = {
                           1: [expanding_mean],
                           7: [rolling_mean_7],
                           14: [rolling_mean_14],
                           21: [rolling_mean_21],
                           28: [rolling_mean_28],
                       }
               )

    model.fit(Y_train_df.reset_index(), id_col = 'unique_id', time_col = 'ds', target_col = 'y', fitted = True)

    Y_hat_df = model.predict(h = n_horizon)

    p = Y_hat_df.reset_index().merge(Y_valid_df.reset_index(), on = ['unique_id', 'ds'], how = 'left')

    error = rmse(p['y'], p['DecisionTreeRegressor'])
    
    return error

time: 265 ms (started: 2024-01-04 16:26:02 -03:00)

/home/rafa/Documentos/github/multiple-time-series-forecast/venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [17]:
study = optuna.create_study(direction = 'minimize')
study.optimize(objective, n_trials = 30)

[I 2024-01-04 16:26:02,541] A new study created in memory with name: no-name-6702ab85-dac5-4743-9e99-87a677169d34
[I 2024-01-04 16:26:10,275] Trial 0 finished with value: 195.08073829605715 and parameters: {'max_depth': 4, 'min_samples_split': 0.22312797279738403, 'min_samples_leaf': 0.13949141437097798, 'max_features': 0.22980441737419627}. Best is trial 0 with value: 195.08073829605715.
[I 2024-01-04 16:26:12,985] Trial 1 finished with value: 216.70787926833452 and parameters: {'max_depth': 7, 'min_samples_split': 0.7870618235875569, 'min_samples_leaf': 0.27932489959953816, 'max_features': 0.8857193491067641}. Best is trial 0 with value: 195.08073829605715.
[I 2024-01-04 16:26:15,683] Trial 2 finished with value: 241.70257626769157 and parameters: {'max_depth': 12, 'min_samples_split': 0.9339699107847861, 'min_samples_leaf': 0.4273864283032369, 'max_features': 0.9798949766666408}. Best is trial 0 with value: 195.08073829605715.
[I 2024-01-04 16:26:18,152] Trial 3 finished with value: 239.7504175984923 and parameters: {'max_depth': 3, 'min_samples_split': 0.6794975131885971, 'min_samples_leaf': 0.40852997412996417, 'max_features': 0.26837988286579745}. Best is trial 0 with value: 195.08073829605715.
[I 2024-01-04 16:26:20,501] Trial 4 finished with value: 226.8769101657277 and parameters: {'max_depth': 5, 'min_samples_split': 0.7013590057253661, 'min_samples_leaf': 0.34855936911555313, 'max_features': 0.1444575092235803}. Best is trial 0 with value: 195.08073829605715.
[I 2024-01-04 16:26:23,028] Trial 5 finished with value: 213.59983439584389 and parameters: {'max_depth': 15, 'min_samples_split': 0.39901850336359057, 'min_samples_leaf': 0.2631318315437528, 'max_features': 0.45667388270356635}. Best is trial 0 with value: 195.08073829605715.
[I 2024-01-04 16:26:25,803] Trial 6 finished with value: 197.33896961573146 and parameters: {'max_depth': 14, 'min_samples_split': 0.14991343144104566, 'min_samples_leaf': 0.15608426520679597, 'max_features': 0.3854017595650254}. Best is trial 0 with value: 195.08073829605715.
[I 2024-01-04 16:26:28,458] Trial 7 finished with value: 246.82412319925933 and parameters: {'max_depth': 13, 'min_samples_split': 0.8537541333851693, 'min_samples_leaf': 0.473948075808187, 'max_features': 0.7871136439714509}. Best is trial 0 with value: 195.08073829605715.
[I 2024-01-04 16:26:31,042] Trial 8 finished with value: 243.34572946694584 and parameters: {'max_depth': 5, 'min_samples_split': 0.4116326833896887, 'min_samples_leaf': 0.4410998145391728, 'max_features': 0.728261634945836}. Best is trial 0 with value: 195.08073829605715.
[I 2024-01-04 16:26:33,561] Trial 9 finished with value: 216.18744369055253 and parameters: {'max_depth': 15, 'min_samples_split': 0.48941564597052456, 'min_samples_leaf': 0.2797010484898649, 'max_features': 0.3462970011528108}. Best is trial 0 with value: 195.08073829605715.
[I 2024-01-04 16:26:36,613] Trial 10 finished with value: 195.21503498457707 and parameters: {'max_depth': 10, 'min_samples_split': 0.17506678740447917, 'min_samples_leaf': 0.1412976275652339, 'max_features': 0.6225744834838887}. Best is trial 0 with value: 195.08073829605715.
[I 2024-01-04 16:26:39,750] Trial 11 finished with value: 184.73715169491484 and parameters: {'max_depth': 10, 'min_samples_split': 0.11331780855034805, 'min_samples_leaf': 0.10400817718682875, 'max_features': 0.6054907418091597}. Best is trial 11 with value: 184.73715169491484.
[I 2024-01-04 16:26:42,761] Trial 12 finished with value: 187.02520927915387 and parameters: {'max_depth': 9, 'min_samples_split': 0.2693481972178261, 'min_samples_leaf': 0.11236956820230708, 'max_features': 0.5936671365466406}. Best is trial 11 with value: 184.73715169491484.
[I 2024-01-04 16:26:45,849] Trial 13 finished with value: 183.6332808179366 and parameters: {'max_depth': 9, 'min_samples_split': 0.2930989440360583, 'min_samples_leaf': 0.10161549111936899, 'max_features': 0.5399265996000545}. Best is trial 13 with value: 183.6332808179366.
[I 2024-01-04 16:26:48,770] Trial 14 finished with value: 198.42225434886547 and parameters: {'max_depth': 10, 'min_samples_split': 0.32826781555678247, 'min_samples_leaf': 0.1696193421333733, 'max_features': 0.5069391296218624}. Best is trial 13 with value: 183.6332808179366.
[I 2024-01-04 16:26:51,624] Trial 15 finished with value: 209.25714301400063 and parameters: {'max_depth': 8, 'min_samples_split': 0.10625359991565264, 'min_samples_leaf': 0.22796876885097195, 'max_features': 0.672876426740054}. Best is trial 13 with value: 183.6332808179366.
[I 2024-01-04 16:26:54,344] Trial 16 finished with value: 205.55881401196737 and parameters: {'max_depth': 11, 'min_samples_split': 0.3114357048935402, 'min_samples_leaf': 0.20501782124320206, 'max_features': 0.5222474535238864}. Best is trial 13 with value: 183.6332808179366.
[I 2024-01-04 16:26:57,447] Trial 17 finished with value: 185.23225338481268 and parameters: {'max_depth': 7, 'min_samples_split': 0.5268542898809984, 'min_samples_leaf': 0.10688735237993761, 'max_features': 0.8023252122554108}. Best is trial 13 with value: 183.6332808179366.
[I 2024-01-04 16:26:59,999] Trial 18 finished with value: 224.9597896327298 and parameters: {'max_depth': 12, 'min_samples_split': 0.6170758193016019, 'min_samples_leaf': 0.3447954640178752, 'max_features': 0.42729625086585105}. Best is trial 13 with value: 183.6332808179366.
[I 2024-01-04 16:27:02,855] Trial 19 finished with value: 201.89846850518833 and parameters: {'max_depth': 8, 'min_samples_split': 0.10258374228599501, 'min_samples_leaf': 0.19275442518404212, 'max_features': 0.56799657550761}. Best is trial 13 with value: 183.6332808179366.
[I 2024-01-04 16:27:05,701] Trial 20 finished with value: 211.35942983320726 and parameters: {'max_depth': 10, 'min_samples_split': 0.404821624654773, 'min_samples_leaf': 0.24312767293119075, 'max_features': 0.6879583892518154}. Best is trial 13 with value: 183.6332808179366.
[I 2024-01-04 16:27:08,826] Trial 21 finished with value: 190.03740258403823 and parameters: {'max_depth': 7, 'min_samples_split': 0.519258551183726, 'min_samples_leaf': 0.11605036212399192, 'max_features': 0.8103185697908699}. Best is trial 13 with value: 183.6332808179366.
[I 2024-01-04 16:27:12,265] Trial 22 finished with value: 184.7649593978859 and parameters: {'max_depth': 7, 'min_samples_split': 0.22324539355544454, 'min_samples_leaf': 0.10352137346543372, 'max_features': 0.8673843746654047}. Best is trial 13 with value: 183.6332808179366.
[I 2024-01-04 16:27:15,760] Trial 23 finished with value: 182.97161400021125 and parameters: {'max_depth': 6, 'min_samples_split': 0.2183538819404795, 'min_samples_leaf': 0.10094467502971759, 'max_features': 0.9787778448844082}. Best is trial 23 with value: 182.97161400021125.
[I 2024-01-04 16:27:19,021] Trial 24 finished with value: 201.14970277319287 and parameters: {'max_depth': 5, 'min_samples_split': 0.21496973407677422, 'min_samples_leaf': 0.185284037409279, 'max_features': 0.9928359230427153}. Best is trial 23 with value: 182.97161400021125.
[I 2024-01-04 16:27:21,644] Trial 25 finished with value: 195.78384923260597 and parameters: {'max_depth': 9, 'min_samples_split': 0.3306880482065354, 'min_samples_leaf': 0.1439074382443714, 'max_features': 0.31835571909878446}. Best is trial 23 with value: 182.97161400021125.
[I 2024-01-04 16:27:24,514] Trial 26 finished with value: 222.30022874211073 and parameters: {'max_depth': 6, 'min_samples_split': 0.24767385681065673, 'min_samples_leaf': 0.3308707784823175, 'max_features': 0.9275441484172267}. Best is trial 23 with value: 182.97161400021125.
[I 2024-01-04 16:27:27,264] Trial 27 finished with value: 207.92677854199263 and parameters: {'max_depth': 9, 'min_samples_split': 0.16236163514672478, 'min_samples_leaf': 0.22237832065748783, 'max_features': 0.48306964166624544}. Best is trial 23 with value: 182.97161400021125.
[I 2024-01-04 16:27:30,356] Trial 28 finished with value: 191.7881534342679 and parameters: {'max_depth': 11, 'min_samples_split': 0.4359921849400641, 'min_samples_leaf': 0.13278423715870613, 'max_features': 0.6573014571648325}. Best is trial 23 with value: 182.97161400021125.
[I 2024-01-04 16:27:32,781] Trial 29 finished with value: 202.7285085030731 and parameters: {'max_depth': 3, 'min_samples_split': 0.28313539095871854, 'min_samples_leaf': 0.16922320596986415, 'max_features': 0.15376700771053747}. Best is trial 23 with value: 182.97161400021125.

time: 1min 30s (started: 2024-01-04 16:26:02 -03:00)

In [18]:
study.best_params

{'max_depth': 6,
 'min_samples_split': 0.2183538819404795,
 'min_samples_leaf': 0.10094467502971759,
 'max_features': 0.9787778448844082}

time: 2.96 ms (started: 2024-01-04 16:27:32 -03:00)

In [19]:
#---- Salvando os melhores parâmetros em um JSON:

import json

with open('decision-tree-best-parameters.json', 'w') as jsn:
    json.dump(dict(study.best_params), jsn)

time: 2.39 ms (started: 2024-01-04 16:27:32 -03:00)

In [20]:
study.best_value

182.97161400021125

time: 8.83 ms (started: 2024-01-04 16:27:32 -03:00)