# Modelos de ML

**Objetivo**: Criar modelos de ML para a projeção de todas as nossas séries.

**Metodologias**: 

- Regressão Linear
- Árvore de decisão
- Random Forest
- XGBoost
- LightGBM

## 0. Setup

In [1]:
%load_ext autotime

time: 181 µs (started: 2024-01-04 12:16:56 -03:00)

In [2]:
#---- Manipulação de dados:

import pandas as pd
import numpy as np

#---- Modelagem:

from hierarchicalforecast.utils import aggregate
from mlforecast import MLForecast
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from lightgbm import LGBMRegressor
from xgboost import XGBRegressor

#---- Reconciliação

from hierarchicalforecast.methods import BottomUp, TopDown, ERM, OptimalCombination, MinTrace, MiddleOut
from hierarchicalforecast.core import HierarchicalReconciliation

#---- Visualização

import plotly.express as px

time: 1.67 s (started: 2024-01-04 12:16:56 -03:00)

## 1. Dados: vendas de roupas no varejo

In [3]:
dados = pd.read_csv('https://raw.githubusercontent.com/aws-samples/amazon-sagemaker-hierarchical-forecasting/main/retail-usa-clothing.csv')

dados.head()

         date    state           item  quantity       region country
0  1997-11-25  NewYork  mens_clothing         8  Mid-Alantic     USA
1  1997-11-26  NewYork  mens_clothing         9  Mid-Alantic     USA
2  1997-11-27  NewYork  mens_clothing        11  Mid-Alantic     USA
3  1997-11-28  NewYork  mens_clothing        11  Mid-Alantic     USA
4  1997-11-29  NewYork  mens_clothing        10  Mid-Alantic     USA

time: 1.11 s (started: 2024-01-04 12:16:57 -03:00)

In [4]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388024 entries, 0 to 388023
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   date      388024 non-null  object
 1   state     388024 non-null  object
 2   item      388024 non-null  object
 3   quantity  388024 non-null  int64
 4   region    388024 non-null  object
 5   country   388024 non-null  object
dtypes: int64(1), object(5)
memory usage: 17.8+ MB
time: 59.6 ms (started: 2024-01-04 12:16:58 -03:00)

## 2. Modificação nos dados

In [5]:
def clean_data_baseline(df: pd.DataFrame):

    #---- 1. Excluindo a variável de country:

    df = df\
        .drop(columns = 'country')

    #---- 2. Mudando o tipo da variável de date para datetime:

    df['date'] = pd.to_datetime(df['date'])

    #---- 3. Renomeando as variáveis de quantidade de vendas e data:
    # date -> ds
    # quantity -> y

    df = df\
        .rename(columns = {'date': 'ds', 
                           'quantity': 'y'})

    return df

time: 822 µs (started: 2024-01-04 12:16:58 -03:00)

In [6]:
df = clean_data_baseline(df = dados)

df.head()

          ds    state           item   y       region
0 1997-11-25  NewYork  mens_clothing   8  Mid-Alantic
1 1997-11-26  NewYork  mens_clothing   9  Mid-Alantic
2 1997-11-27  NewYork  mens_clothing  11  Mid-Alantic
3 1997-11-28  NewYork  mens_clothing  11  Mid-Alantic
4 1997-11-29  NewYork  mens_clothing  10  Mid-Alantic

time: 109 ms (started: 2024-01-04 12:16:58 -03:00)

In [7]:
def format_hierarchical_df(df: pd.DataFrame, cols_hierarchical: list):

    #---- 1. Cria uma lista de listas: [[col1], [col1, col2], ..., [col1, col2, coln]]

    hier_list = [cols_hierarchical[:i] for i in range(1, len(cols_hierarchical) + 1)]

    #---- 2. Aplica a função aggregate que formata os dados em que a lib hierarchical pede

    Y_df, S_df, tags = aggregate(df = df, spec = hier_list)

    return Y_df, S_df, tags

time: 740 µs (started: 2024-01-04 12:16:59 -03:00)

In [8]:
cols_hierarchical = ['region', 'state', 'item']

Y_df, S_df, tags = format_hierarchical_df(df = df, cols_hierarchical = cols_hierarchical)

time: 666 ms (started: 2024-01-04 12:16:59 -03:00)

In [9]:
display(Y_df.head())
display(Y_df.tail())

                         ds    y
unique_id
EastNorthCentral 1997-11-25  507
EastNorthCentral 1997-11-26  504
EastNorthCentral 1997-11-27  510
EastNorthCentral 1997-11-28  507
EastNorthCentral 1997-11-29  513

                                            ds   y
unique_id
SouthCentral/Tennessee/womens_shoes 2009-07-24  31
SouthCentral/Tennessee/womens_shoes 2009-07-25  30
SouthCentral/Tennessee/womens_shoes 2009-07-26  31
SouthCentral/Tennessee/womens_shoes 2009-07-27  29
SouthCentral/Tennessee/womens_shoes 2009-07-28  30

time: 15.3 ms (started: 2024-01-04 12:16:59 -03:00)

- **Dados de treino: 25/11/1997 a 31/12/2008**
- **Dados de validação: 01/01/2009 a 28/07/2009**

In [10]:
def split_train_test(df: pd.DataFrame, dt_start_train: str):

    #---- 1. Dados de treino

    train = df.query(f'ds < "{dt_start_train}"')

    #---- 2. Dados de teste:
    
    valid = df.query(f'ds >= "{dt_start_train}"')

    return train, valid

time: 574 µs (started: 2024-01-04 12:16:59 -03:00)

In [11]:
Y_train_df, Y_valid_df = split_train_test(df = Y_df, dt_start_train = '2009-01-01')

time: 84 ms (started: 2024-01-04 12:16:59 -03:00)

In [12]:
display(Y_train_df.head())
display(Y_train_df.tail())

                         ds    y
unique_id
EastNorthCentral 1997-11-25  507
EastNorthCentral 1997-11-26  504
EastNorthCentral 1997-11-27  510
EastNorthCentral 1997-11-28  507
EastNorthCentral 1997-11-29  513

                                            ds   y
unique_id
SouthCentral/Tennessee/womens_shoes 2008-12-27  31
SouthCentral/Tennessee/womens_shoes 2008-12-28  29
SouthCentral/Tennessee/womens_shoes 2008-12-29  28
SouthCentral/Tennessee/womens_shoes 2008-12-30  31
SouthCentral/Tennessee/womens_shoes 2008-12-31  31

time: 12.6 ms (started: 2024-01-04 12:16:59 -03:00)

## 3. Modelagem

In [13]:
#---- Features de data:

from numba import njit
from window_ops.expanding import expanding_mean
from window_ops.rolling import rolling_mean

@njit
def rolling_mean_7(x):
    return rolling_mean(x, window_size = 7)

@njit
def rolling_mean_14(x):
    return rolling_mean(x, window_size = 14)

@njit
def rolling_mean_21(x):
    return rolling_mean(x, window_size = 21)

@njit
def rolling_mean_28(x):
    return rolling_mean(x, window_size = 28)

time: 5.29 ms (started: 2024-01-04 12:16:59 -03:00)

In [14]:
def rmse(y_true, y_pred):
    
    return np.sqrt(np.mean(np.square(y_true - y_pred)))

time: 1.77 ms (started: 2024-01-04 12:16:59 -03:00)

In [15]:
n_horizon = Y_valid_df.ds.nunique() # Quantidade de dias para a projeção

time: 2.63 ms (started: 2024-01-04 12:16:59 -03:00)

In [16]:
import optuna
from sklearn.metrics import mean_squared_error

def objective(trial):

    max_depth = trial.suggest_int('max_depth', 3, 15)
    min_samples_split = trial.suggest_float('min_samples_split', 0.1, 1.0)
    min_samples_leaf = trial.suggest_float('min_samples_leaf', 0.1, 0.5)
    max_features = trial.suggest_float('max_features', 0.1, 1.0)

    dec_tree = DecisionTreeRegressor(random_state = 19, 
                                     max_depth = max_depth,
                                     min_samples_split = min_samples_split,
                                     min_samples_leaf = min_samples_leaf,
                                     max_features = max_features) 
    
    models_list = [dec_tree]

    model = MLForecast(models = models_list,
                       freq = 'D',
                       num_threads = 6,
                       lags = [1, 7, 14, 21, 28, 30], 
                       date_features = ['dayofweek', 'month', 'year', 'quarter', 'day', 'week'],
                       lag_transforms = {
                           1: [expanding_mean],
                           7: [rolling_mean_7],
                           14: [rolling_mean_14],
                           21: [rolling_mean_21],
                           28: [rolling_mean_28],
                       }
               )

    model.fit(Y_train_df.reset_index(), id_col = 'unique_id', time_col = 'ds', target_col = 'y', fitted = True)

    Y_hat_df = model.predict(h = n_horizon)

    p = Y_hat_df.reset_index().merge(Y_valid_df.reset_index(), on = ['unique_id', 'ds'], how = 'left')

    error = rmse(p['y'], p['DecisionTreeRegressor'])
    
    return error

time: 326 ms (started: 2024-01-04 12:16:59 -03:00)

/home/rafa/Documentos/github/multiple-time-series-forecast/venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [17]:
study = optuna.create_study(direction = 'minimize')
study.optimize(objective, n_trials = 30)

[I 2024-01-04 12:17:00,255] A new study created in memory with name: no-name-625ff928-4989-40c5-9aa8-79fa52e63621
[I 2024-01-04 12:17:10,122] Trial 0 finished with value: 207.83736313631593 and parameters: {'max_depth': 15, 'min_samples_split': 0.11066409463439794, 'min_samples_leaf': 0.2217124074054182, 'max_features': 0.5039649175254981}. Best is trial 0 with value: 207.83736313631593.
[I 2024-01-04 12:17:13,041] Trial 1 finished with value: 246.60828939522204 and parameters: {'max_depth': 5, 'min_samples_split': 0.3839721352877493, 'min_samples_leaf': 0.46364927165163006, 'max_features': 0.2363977299579}. Best is trial 0 with value: 207.83736313631593.
[I 2024-01-04 12:17:16,306] Trial 2 finished with value: 218.5790662142466 and parameters: {'max_depth': 9, 'min_samples_split': 0.9690925635138773, 'min_samples_leaf': 0.29587172243265947, 'max_features': 0.46029178148881533}. Best is trial 0 with value: 207.83736313631593.
[I 2024-01-04 12:17:19,549] Trial 3 finished with value: 241.09204184070862 and parameters: {'max_depth': 9, 'min_samples_split': 0.7260923790449368, 'min_samples_leaf': 0.41873165617441865, 'max_features': 0.2620722058776891}. Best is trial 0 with value: 207.83736313631593.
[I 2024-01-04 12:17:22,576] Trial 4 finished with value: 237.60594809445735 and parameters: {'max_depth': 13, 'min_samples_split': 0.2583762567926584, 'min_samples_leaf': 0.3869059927687435, 'max_features': 0.38090059666231013}. Best is trial 0 with value: 207.83736313631593.
[I 2024-01-04 12:17:27,068] Trial 5 finished with value: 199.33683909670495 and parameters: {'max_depth': 12, 'min_samples_split': 0.4586475637535957, 'min_samples_leaf': 0.17840056400041351, 'max_features': 0.9930542042768655}. Best is trial 5 with value: 199.33683909670495.
[I 2024-01-04 12:17:30,366] Trial 6 finished with value: 216.5115132748997 and parameters: {'max_depth': 11, 'min_samples_split': 0.9056909469336739, 'min_samples_leaf': 0.27638457667426386, 'max_features': 0.18142842656772043}. Best is trial 5 with value: 199.33683909670495.
[I 2024-01-04 12:17:33,657] Trial 7 finished with value: 197.17298579502264 and parameters: {'max_depth': 10, 'min_samples_split': 0.6044014804615563, 'min_samples_leaf': 0.15160568743154335, 'max_features': 0.4557819477168926}. Best is trial 7 with value: 197.17298579502264.
[I 2024-01-04 12:17:36,857] Trial 8 finished with value: 210.889268225663 and parameters: {'max_depth': 4, 'min_samples_split': 0.6887594404282675, 'min_samples_leaf': 0.23725642389480173, 'max_features': 0.5500952503034604}. Best is trial 7 with value: 197.17298579502264.
[I 2024-01-04 12:17:40,318] Trial 9 finished with value: 214.5604538332342 and parameters: {'max_depth': 14, 'min_samples_split': 0.19522840291937255, 'min_samples_leaf': 0.2716243486183206, 'max_features': 0.8377067918286031}. Best is trial 7 with value: 197.17298579502264.
[I 2024-01-04 12:17:43,862] Trial 10 finished with value: 186.45360212971386 and parameters: {'max_depth': 7, 'min_samples_split': 0.6672381353533826, 'min_samples_leaf': 0.10648894956306261, 'max_features': 0.6871687589270961}. Best is trial 10 with value: 186.45360212971386.
[I 2024-01-04 12:17:47,402] Trial 11 finished with value: 185.37554724589458 and parameters: {'max_depth': 7, 'min_samples_split': 0.6141414272711779, 'min_samples_leaf': 0.10490752303478545, 'max_features': 0.6954315642564219}. Best is trial 11 with value: 185.37554724589458.
[I 2024-01-04 12:17:51,620] Trial 12 finished with value: 184.91002557243777 and parameters: {'max_depth': 7, 'min_samples_split': 0.79042294685385, 'min_samples_leaf': 0.10204962844878346, 'max_features': 0.69719869350979}. Best is trial 12 with value: 184.91002557243777.
[I 2024-01-04 12:17:55,228] Trial 13 finished with value: 186.6407687968875 and parameters: {'max_depth': 7, 'min_samples_split': 0.829526050706621, 'min_samples_leaf': 0.1023273233379743, 'max_features': 0.7011485577325419}. Best is trial 12 with value: 184.91002557243777.
[I 2024-01-04 12:17:58,804] Trial 14 finished with value: 198.2646348467204 and parameters: {'max_depth': 6, 'min_samples_split': 0.5017650428512878, 'min_samples_leaf': 0.16697601300535603, 'max_features': 0.7013204528713958}. Best is trial 12 with value: 184.91002557243777.
[I 2024-01-04 12:18:02,010] Trial 15 finished with value: 234.4493038365021 and parameters: {'max_depth': 3, 'min_samples_split': 0.8188817454432075, 'min_samples_leaf': 0.37231140018912146, 'max_features': 0.8348610626918714}. Best is trial 12 with value: 184.91002557243777.
[I 2024-01-04 12:18:05,147] Trial 16 finished with value: 196.1329801270415 and parameters: {'max_depth': 8, 'min_samples_split': 0.7732604529200117, 'min_samples_leaf': 0.1455998669843993, 'max_features': 0.6135937790058972}. Best is trial 12 with value: 184.91002557243777.
[I 2024-01-04 12:18:08,559] Trial 17 finished with value: 205.98202218330542 and parameters: {'max_depth': 5, 'min_samples_split': 0.5525673175046214, 'min_samples_leaf': 0.20734836591741984, 'max_features': 0.8525870627875882}. Best is trial 12 with value: 184.91002557243777.
[I 2024-01-04 12:18:12,881] Trial 18 finished with value: 183.7324358084525 and parameters: {'max_depth': 7, 'min_samples_split': 0.40868549783968977, 'min_samples_leaf': 0.10047873536633527, 'max_features': 0.9772330502742559}. Best is trial 18 with value: 183.7324358084525.
[I 2024-01-04 12:18:16,012] Trial 19 finished with value: 223.60015537576115 and parameters: {'max_depth': 10, 'min_samples_split': 0.3669848303942983, 'min_samples_leaf': 0.338094279295073, 'max_features': 0.980572054286947}. Best is trial 18 with value: 183.7324358084525.
[I 2024-01-04 12:18:19,498] Trial 20 finished with value: 250.94268554355702 and parameters: {'max_depth': 3, 'min_samples_split': 0.35471288813394797, 'min_samples_leaf': 0.49642177532551274, 'max_features': 0.9010062317956831}. Best is trial 18 with value: 183.7324358084525.
[I 2024-01-04 12:18:23,339] Trial 21 finished with value: 190.0542683353215 and parameters: {'max_depth': 7, 'min_samples_split': 0.6237029767793189, 'min_samples_leaf': 0.12666212088445292, 'max_features': 0.7256236241380565}. Best is trial 18 with value: 183.7324358084525.
[I 2024-01-04 12:18:27,085] Trial 22 finished with value: 201.28263517786914 and parameters: {'max_depth': 6, 'min_samples_split': 0.497976922687322, 'min_samples_leaf': 0.18650275298195562, 'max_features': 0.6066422955926023}. Best is trial 18 with value: 183.7324358084525.
[I 2024-01-04 12:18:31,056] Trial 23 finished with value: 191.91070227033032 and parameters: {'max_depth': 8, 'min_samples_split': 0.5848464269025815, 'min_samples_leaf': 0.1330693753345291, 'max_features': 0.8042694910107117}. Best is trial 18 with value: 183.7324358084525.
[I 2024-01-04 12:18:34,955] Trial 24 finished with value: 185.28373228147134 and parameters: {'max_depth': 8, 'min_samples_split': 0.4244639981233126, 'min_samples_leaf': 0.10510384700476719, 'max_features': 0.7654403553038145}. Best is trial 18 with value: 183.7324358084525.
[I 2024-01-04 12:18:39,159] Trial 25 finished with value: 202.04290437348507 and parameters: {'max_depth': 8, 'min_samples_split': 0.42191491847701224, 'min_samples_leaf': 0.1948087423144076, 'max_features': 0.899074500199454}. Best is trial 18 with value: 183.7324358084525.
[I 2024-01-04 12:18:42,982] Trial 26 finished with value: 195.1599276329675 and parameters: {'max_depth': 5, 'min_samples_split': 0.28675563943143456, 'min_samples_leaf': 0.14044808528736552, 'max_features': 0.7675828892718}. Best is trial 18 with value: 183.7324358084525.
[I 2024-01-04 12:18:46,505] Trial 27 finished with value: 211.68311153057118 and parameters: {'max_depth': 10, 'min_samples_split': 0.2957236335914067, 'min_samples_leaf': 0.24579895403815616, 'max_features': 0.9070743132707801}. Best is trial 18 with value: 183.7324358084525.
[I 2024-01-04 12:18:49,974] Trial 28 finished with value: 198.04870616203812 and parameters: {'max_depth': 6, 'min_samples_split': 0.19936990953598466, 'min_samples_leaf': 0.16565897296253257, 'max_features': 0.5985834038786555}. Best is trial 18 with value: 183.7324358084525.
[I 2024-01-04 12:18:53,656] Trial 29 finished with value: 207.52397226219213 and parameters: {'max_depth': 8, 'min_samples_split': 0.14666488583820392, 'min_samples_leaf': 0.2178735307178854, 'max_features': 0.940676726928938}. Best is trial 18 with value: 183.7324358084525.

time: 1min 53s (started: 2024-01-04 12:17:00 -03:00)

In [18]:
study.best_params

{'max_depth': 7,
 'min_samples_split': 0.40868549783968977,
 'min_samples_leaf': 0.10047873536633527,
 'max_features': 0.9772330502742559}

time: 3.08 ms (started: 2024-01-04 12:18:53 -03:00)

In [19]:
study.best_value

183.7324358084525

time: 2.85 ms (started: 2024-01-04 12:18:53 -03:00)