# Modelos de ML

**Objetivo**: Criar modelos de ML para a projeção de todas as nossas séries.

**Metodologias**: 

- Regressão Linear
- Árvore de decisão
- Random Forest
- XGBoost
- LightGBM

## 0. Setup

In [1]:
%load_ext autotime

time: 110 µs (started: 2024-01-04 12:21:00 -03:00)

In [2]:
#---- Manipulação de dados:

import pandas as pd
import numpy as np

#---- Modelagem:

from hierarchicalforecast.utils import aggregate
from mlforecast import MLForecast
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from lightgbm import LGBMRegressor
from xgboost import XGBRegressor

#---- Reconciliação

from hierarchicalforecast.methods import BottomUp, TopDown, ERM, OptimalCombination, MinTrace, MiddleOut
from hierarchicalforecast.core import HierarchicalReconciliation

#---- Visualização

import plotly.express as px

time: 1.58 s (started: 2024-01-04 12:21:00 -03:00)

## 1. Dados: vendas de roupas no varejo

In [3]:
dados = pd.read_csv('https://raw.githubusercontent.com/aws-samples/amazon-sagemaker-hierarchical-forecasting/main/retail-usa-clothing.csv')

dados.head()

         date    state           item  quantity       region country
0  1997-11-25  NewYork  mens_clothing         8  Mid-Alantic     USA
1  1997-11-26  NewYork  mens_clothing         9  Mid-Alantic     USA
2  1997-11-27  NewYork  mens_clothing        11  Mid-Alantic     USA
3  1997-11-28  NewYork  mens_clothing        11  Mid-Alantic     USA
4  1997-11-29  NewYork  mens_clothing        10  Mid-Alantic     USA

time: 1 s (started: 2024-01-04 12:21:01 -03:00)

In [4]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388024 entries, 0 to 388023
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   date      388024 non-null  object
 1   state     388024 non-null  object
 2   item      388024 non-null  object
 3   quantity  388024 non-null  int64
 4   region    388024 non-null  object
 5   country   388024 non-null  object
dtypes: int64(1), object(5)
memory usage: 17.8+ MB
time: 57.1 ms (started: 2024-01-04 12:21:02 -03:00)

## 2. Modificação nos dados

In [5]:
def clean_data_baseline(df: pd.DataFrame):

    #---- 1. Excluindo a variável de country:

    df = df\
        .drop(columns = 'country')

    #---- 2. Mudando o tipo da variável de date para datetime:

    df['date'] = pd.to_datetime(df['date'])

    #---- 3. Renomeando as variáveis de quantidade de vendas e data:
    # date -> ds
    # quantity -> y

    df = df\
        .rename(columns = {'date': 'ds', 
                           'quantity': 'y'})

    return df

time: 1.98 ms (started: 2024-01-04 12:21:02 -03:00)

In [6]:
df = clean_data_baseline(df = dados)

df.head()

          ds    state           item   y       region
0 1997-11-25  NewYork  mens_clothing   8  Mid-Alantic
1 1997-11-26  NewYork  mens_clothing   9  Mid-Alantic
2 1997-11-27  NewYork  mens_clothing  11  Mid-Alantic
3 1997-11-28  NewYork  mens_clothing  11  Mid-Alantic
4 1997-11-29  NewYork  mens_clothing  10  Mid-Alantic

time: 106 ms (started: 2024-01-04 12:21:02 -03:00)

In [7]:
def format_hierarchical_df(df: pd.DataFrame, cols_hierarchical: list):

    #---- 1. Cria uma lista de listas: [[col1], [col1, col2], ..., [col1, col2, coln]]

    hier_list = [cols_hierarchical[:i] for i in range(1, len(cols_hierarchical) + 1)]

    #---- 2. Aplica a função aggregate que formata os dados em que a lib hierarchical pede

    Y_df, S_df, tags = aggregate(df = df, spec = hier_list)

    return Y_df, S_df, tags

time: 1.17 ms (started: 2024-01-04 12:21:03 -03:00)

In [8]:
cols_hierarchical = ['region', 'state', 'item']

Y_df, S_df, tags = format_hierarchical_df(df = df, cols_hierarchical = cols_hierarchical)

time: 689 ms (started: 2024-01-04 12:21:03 -03:00)

In [9]:
display(Y_df.head())
display(Y_df.tail())

                         ds    y
unique_id
EastNorthCentral 1997-11-25  507
EastNorthCentral 1997-11-26  504
EastNorthCentral 1997-11-27  510
EastNorthCentral 1997-11-28  507
EastNorthCentral 1997-11-29  513

                                            ds   y
unique_id
SouthCentral/Tennessee/womens_shoes 2009-07-24  31
SouthCentral/Tennessee/womens_shoes 2009-07-25  30
SouthCentral/Tennessee/womens_shoes 2009-07-26  31
SouthCentral/Tennessee/womens_shoes 2009-07-27  29
SouthCentral/Tennessee/womens_shoes 2009-07-28  30

time: 9.31 ms (started: 2024-01-04 12:21:03 -03:00)

- **Dados de treino: 25/11/1997 a 31/12/2008**
- **Dados de validação: 01/01/2009 a 28/07/2009**

In [10]:
def split_train_test(df: pd.DataFrame, dt_start_train: str):

    #---- 1. Dados de treino

    train = df.query(f'ds < "{dt_start_train}"')

    #---- 2. Dados de teste:
    
    valid = df.query(f'ds >= "{dt_start_train}"')

    return train, valid

time: 726 µs (started: 2024-01-04 12:21:03 -03:00)

In [11]:
Y_train_df, Y_valid_df = split_train_test(df = Y_df, dt_start_train = '2009-01-01')

time: 84.9 ms (started: 2024-01-04 12:21:03 -03:00)

In [12]:
display(Y_train_df.head())
display(Y_train_df.tail())

                         ds    y
unique_id
EastNorthCentral 1997-11-25  507
EastNorthCentral 1997-11-26  504
EastNorthCentral 1997-11-27  510
EastNorthCentral 1997-11-28  507
EastNorthCentral 1997-11-29  513

                                            ds   y
unique_id
SouthCentral/Tennessee/womens_shoes 2008-12-27  31
SouthCentral/Tennessee/womens_shoes 2008-12-28  29
SouthCentral/Tennessee/womens_shoes 2008-12-29  28
SouthCentral/Tennessee/womens_shoes 2008-12-30  31
SouthCentral/Tennessee/womens_shoes 2008-12-31  31

time: 11.9 ms (started: 2024-01-04 12:21:03 -03:00)

## 3. Modelagem

In [13]:
#---- Features de data:

from numba import njit
from window_ops.expanding import expanding_mean
from window_ops.rolling import rolling_mean

@njit
def rolling_mean_7(x):
    return rolling_mean(x, window_size = 7)

@njit
def rolling_mean_14(x):
    return rolling_mean(x, window_size = 14)

@njit
def rolling_mean_21(x):
    return rolling_mean(x, window_size = 21)

@njit
def rolling_mean_28(x):
    return rolling_mean(x, window_size = 28)

time: 7.44 ms (started: 2024-01-04 12:21:03 -03:00)

In [14]:
def rmse(y_true, y_pred):
    
    return np.sqrt(np.mean(np.square(y_true - y_pred)))

time: 8.57 ms (started: 2024-01-04 12:21:03 -03:00)

In [15]:
n_horizon = Y_valid_df.ds.nunique() # Quantidade de dias para a projeção

time: 5.33 ms (started: 2024-01-04 12:21:03 -03:00)

In [16]:
import optuna
from sklearn.metrics import mean_squared_error

def objective(trial):

    max_depth = trial.suggest_int('max_depth', 3, 15)
    min_samples_split = trial.suggest_float('min_samples_split', 0.1, 1.0)
    min_samples_leaf = trial.suggest_float('min_samples_leaf', 0.1, 0.5)
    max_features = trial.suggest_float('max_features', 0.1, 1.0)

    ran_forest = RandomForestRegressor(random_state = 19,
                                       n_estimators = 500,
                                       max_depth = max_depth,
                                       min_samples_split = min_samples_split,
                                       min_samples_leaf = min_samples_leaf,
                                       max_features = max_features
                                      )
    
    models_list = [ran_forest]

    model = MLForecast(models = models_list,
                       freq = 'D',
                       num_threads = 6,
                       lags = [1, 7, 14, 21, 28, 30], 
                       date_features = ['dayofweek', 'month', 'year', 'quarter', 'day', 'week'],
                       lag_transforms = {
                           1: [expanding_mean],
                           7: [rolling_mean_7],
                           14: [rolling_mean_14],
                           21: [rolling_mean_21],
                           28: [rolling_mean_28],
                       }
               )

    model.fit(Y_train_df.reset_index(), id_col = 'unique_id', time_col = 'ds', target_col = 'y', fitted = True)

    Y_hat_df = model.predict(h = n_horizon)

    p = Y_hat_df.reset_index().merge(Y_valid_df.reset_index(), on = ['unique_id', 'ds'], how = 'left')

    error = rmse(p['y'], p['RandomForestRegressor'])
    
    return error

time: 329 ms (started: 2024-01-04 12:21:03 -03:00)

/home/rafa/Documentos/github/multiple-time-series-forecast/venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [17]:
study = optuna.create_study(direction = 'minimize')
study.optimize(objective, n_trials = 20)

[I 2024-01-04 12:21:04,227] A new study created in memory with name: no-name-07d23ff7-4b10-4324-9731-0d39f5ab5471
[I 2024-01-04 12:21:27,831] Trial 0 finished with value: 282.43213648843255 and parameters: {'max_depth': 14, 'min_samples_split': 0.9359807433902, 'min_samples_leaf': 0.18883682931614212, 'max_features': 0.8198773317649382}. Best is trial 0 with value: 282.43213648843255.
[I 2024-01-04 12:21:41,378] Trial 1 finished with value: 282.43213648843255 and parameters: {'max_depth': 3, 'min_samples_split': 0.15396266917262183, 'min_samples_leaf': 0.4850521791771094, 'max_features': 0.5686269532876955}. Best is trial 0 with value: 282.43213648843255.
[I 2024-01-04 12:21:54,905] Trial 2 finished with value: 282.43213648843255 and parameters: {'max_depth': 9, 'min_samples_split': 0.8924808875080332, 'min_samples_leaf': 0.2180177715993723, 'max_features': 0.2902915193783454}. Best is trial 0 with value: 282.43213648843255.
[I 2024-01-04 12:24:54,074] Trial 3 finished with value: 214.12816951487645 and parameters: {'max_depth': 11, 'min_samples_split': 0.10822308489500435, 'min_samples_leaf': 0.16903589383895762, 'max_features': 0.8526442771136948}. Best is trial 3 with value: 214.12816951487645.
[I 2024-01-04 12:25:07,631] Trial 4 finished with value: 282.43213648843255 and parameters: {'max_depth': 8, 'min_samples_split': 0.4112478113771363, 'min_samples_leaf': 0.3912906761331483, 'max_features': 0.4120496902420535}. Best is trial 3 with value: 214.12816951487645.
[I 2024-01-04 12:25:20,890] Trial 5 finished with value: 282.43213648843255 and parameters: {'max_depth': 15, 'min_samples_split': 0.6437078635470513, 'min_samples_leaf': 0.1991139507400564, 'max_features': 0.6329120040997912}. Best is trial 3 with value: 214.12816951487645.
[I 2024-01-04 12:25:34,340] Trial 6 finished with value: 282.43213648843255 and parameters: {'max_depth': 4, 'min_samples_split': 0.7918553671269146, 'min_samples_leaf': 0.1328822144076164, 'max_features': 0.7043483286304953}. Best is trial 3 with value: 214.12816951487645.
[I 2024-01-04 12:26:15,233] Trial 7 finished with value: 241.43800172974977 and parameters: {'max_depth': 12, 'min_samples_split': 0.3179190115635153, 'min_samples_leaf': 0.2662416794603505, 'max_features': 0.24583181830594514}. Best is trial 3 with value: 214.12816951487645.
[I 2024-01-04 12:26:28,532] Trial 8 finished with value: 282.43213648843255 and parameters: {'max_depth': 11, 'min_samples_split': 0.8833744539348692, 'min_samples_leaf': 0.21788664364201651, 'max_features': 0.3818515439943043}. Best is trial 3 with value: 214.12816951487645.
[I 2024-01-04 12:26:42,508] Trial 9 finished with value: 282.43213648843255 and parameters: {'max_depth': 4, 'min_samples_split': 0.771774156677117, 'min_samples_leaf': 0.39541306263103726, 'max_features': 0.7892848489781538}. Best is trial 3 with value: 214.12816951487645.
[I 2024-01-04 12:32:13,710] Trial 10 finished with value: 198.2165323336156 and parameters: {'max_depth': 7, 'min_samples_split': 0.15175470518336265, 'min_samples_leaf': 0.10558659678095708, 'max_features': 0.9741999841435838}. Best is trial 10 with value: 198.2165323336156.
[I 2024-01-04 12:38:51,556] Trial 11 finished with value: 197.47421756929234 and parameters: {'max_depth': 7, 'min_samples_split': 0.10811398161169118, 'min_samples_leaf': 0.10010742476077619, 'max_features': 0.9748659806084459}. Best is trial 11 with value: 197.47421756929234.
[I 2024-01-04 12:44:56,655] Trial 12 finished with value: 199.28778993207015 and parameters: {'max_depth': 7, 'min_samples_split': 0.27765389697706905, 'min_samples_leaf': 0.11270854325504545, 'max_features': 0.9392573165282571}. Best is trial 11 with value: 197.47421756929234.
[I 2024-01-04 12:49:20,678] Trial 13 finished with value: 198.6740181841279 and parameters: {'max_depth': 6, 'min_samples_split': 0.4855350250346726, 'min_samples_leaf': 0.10407306926518, 'max_features': 0.9897632013728599}. Best is trial 11 with value: 197.47421756929234.
[I 2024-01-04 12:51:38,134] Trial 14 finished with value: 245.91837590564776 and parameters: {'max_depth': 6, 'min_samples_split': 0.2341162285295743, 'min_samples_leaf': 0.29114009568871846, 'max_features': 0.996878287462471}. Best is trial 11 with value: 197.47421756929234.
[I 2024-01-04 12:51:53,658] Trial 15 finished with value: 282.43213648843255 and parameters: {'max_depth': 6, 'min_samples_split': 0.10397691019730648, 'min_samples_leaf': 0.36131197702502954, 'max_features': 0.12608469960691104}. Best is trial 11 with value: 197.47421756929234.
[I 2024-01-04 12:54:59,714] Trial 16 finished with value: 211.58679711671084 and parameters: {'max_depth': 9, 'min_samples_split': 0.3560276588443485, 'min_samples_leaf': 0.15460543693009643, 'max_features': 0.719171009049304}. Best is trial 11 with value: 197.47421756929234.
[I 2024-01-04 12:57:24,152] Trial 17 finished with value: 201.4287993043017 and parameters: {'max_depth': 7, 'min_samples_split': 0.571385488714498, 'min_samples_leaf': 0.10372866728979763, 'max_features': 0.8869596762211089}. Best is trial 11 with value: 197.47421756929234.
[I 2024-01-04 12:58:43,254] Trial 18 finished with value: 239.3391576279145 and parameters: {'max_depth': 10, 'min_samples_split': 0.19860474276171625, 'min_samples_leaf': 0.2544268642359825, 'max_features': 0.4889522870479804}. Best is trial 11 with value: 197.47421756929234.
[I 2024-01-04 13:01:45,884] Trial 19 finished with value: 212.23894100128686 and parameters: {'max_depth': 5, 'min_samples_split': 0.45935232101053985, 'min_samples_leaf': 0.15768312288320313, 'max_features': 0.7395471189114913}. Best is trial 11 with value: 197.47421756929234.
[I 2024-01-04 13:02:01,147] Trial 20 finished with value: 282.43213648843255 and parameters: {'max_depth': 8, 'min_samples_split': 0.21484705293917447, 'min_samples_leaf': 0.3269606132987052, 'max_features': 0.8800579331636105}. Best is trial 11 with value: 197.47421756929234.
[I 2024-01-04 13:06:22,609] Trial 21 finished with value: 199.38516560779013 and parameters: {'max_depth': 6, 'min_samples_split': 0.46266491429607837, 'min_samples_leaf': 0.11006412181493268, 'max_features': 0.9747470897224726}. Best is trial 11 with value: 197.47421756929234.
[I 2024-01-04 13:08:47,572] Trial 22 finished with value: 211.90012890065256 and parameters: {'max_depth': 5, 'min_samples_split': 0.6135216701241498, 'min_samples_leaf': 0.14945055426647952, 'max_features': 0.9189815365310776}. Best is trial 11 with value: 197.47421756929234.
[I 2024-01-04 13:09:02,954] Trial 23 finished with value: 282.43213648843255 and parameters: {'max_depth': 8, 'min_samples_split': 0.6894379953687443, 'min_samples_leaf': 0.10360450709124638, 'max_features': 0.9772166565633078}. Best is trial 11 with value: 197.47421756929234.
[I 2024-01-04 13:12:30,613] Trial 24 finished with value: 207.19935620206084 and parameters: {'max_depth': 5, 'min_samples_split': 0.36890162008396254, 'min_samples_leaf': 0.1347854049198323, 'max_features': 0.7840016352803328}. Best is trial 11 with value: 197.47421756929234.
[I 2024-01-04 13:14:10,327] Trial 25 finished with value: 218.78228699851257 and parameters: {'max_depth': 7, 'min_samples_split': 0.5011279500755148, 'min_samples_leaf': 0.1854356095811521, 'max_features': 0.6345969379365286}. Best is trial 11 with value: 197.47421756929234.
[I 2024-01-04 13:16:26,694] Trial 26 finished with value: 236.71380274228173 and parameters: {'max_depth': 3, 'min_samples_split': 0.25963203622606335, 'min_samples_leaf': 0.2405651105372372, 'max_features': 0.9124185473500177}. Best is trial 11 with value: 197.47421756929234.
[I 2024-01-04 13:16:42,478] Trial 27 finished with value: 282.43213648843255 and parameters: {'max_depth': 7, 'min_samples_split': 0.16025333811655296, 'min_samples_leaf': 0.48428634549143657, 'max_features': 0.9957460020987736}. Best is trial 11 with value: 197.47421756929234.
[I 2024-01-04 13:21:23,227] Trial 28 finished with value: 207.23657362934 and parameters: {'max_depth': 9, 'min_samples_split': 0.317109338516321, 'min_samples_leaf': 0.1358963892723255, 'max_features': 0.8318406021625901}. Best is trial 11 with value: 197.47421756929234.
[I 2024-01-04 13:24:25,451] Trial 29 finished with value: 217.04972224755352 and parameters: {'max_depth': 4, 'min_samples_split': 0.1847475794207865, 'min_samples_leaf': 0.18224161689995555, 'max_features': 0.8059618139447582}. Best is trial 11 with value: 197.47421756929234.

time: 1h 3min 21s (started: 2024-01-04 12:21:04 -03:00)

In [18]:
study.best_params

{'max_depth': 7,
 'min_samples_split': 0.10811398161169118,
 'min_samples_leaf': 0.10010742476077619,
 'max_features': 0.9748659806084459}

time: 2.77 ms (started: 2024-01-04 13:24:25 -03:00)

In [25]:
#---- Salvando os melhores parâmetros em um JSON:

import json

with open('random-forest-best-parameters.json', 'w') as jsn:
    json.dump(dict(study.best_params), jsn)

time: 2.16 ms (started: 2024-01-04 13:38:52 -03:00)

In [19]:
study.best_value

197.47421756929234

time: 4.29 ms (started: 2024-01-04 13:24:25 -03:00)